.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 86px;
    margin-right: auto;
    margin-left: 28px;

    .text-parameter(18px, 30px, 700);
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 260px;

    margin-top: 11px;

    ul {
      .list-style-none();
      display: flex;
      flex-direction: row;

      margin-bottom: 29px;

      li:first-of-type {
        margin-right: 30px;
      }
    }

    ul:last-child {
      margin-bottom: 0;
    }

    li {
      .text-parameter(15px, 30px, 400, #444);
    }
  }

  &__table-row-2 {
    li:last-child {
      width: 150px;
    }
  }

  &__mail {
    border-bottom: 1px solid @header-top-link-1-color;

    &:hover {
      color: @header-top-link-1-color;
      cursor: pointer;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__map {
    position: relative;
    margin-top: 37px;
  }

  &__map-image {
    width: 320px;
    height: 457px;
  }

  &__map svg {
    position: absolute;
    top: 165px;
    right: 130px;
    fill: @header-top-link-1-color;
  }

  &__map-btn {
    margin-top: 36px;

    .text-parameter(18px, 20px, 700, #444);
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: #444;
      color: #fff;
      cursor: pointer;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__flag--none {
    display: none;
  }

  // зиг-заг

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    top: 45px;
    left: 0;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
    background-position: ;
  }
}

@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
      width: 60%;

      margin-top: 146px;
      margin-left: 47px;

      .text-parameter(43px, 50px, 700);
    }

    &__flag--none {
      display: block;
    }

    &__flag {
      position: absolute;
      right: 54px;
      top: 130px;
    }

    &__table  {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 668px;

      margin-left: 50px;
      margin-top: 13px;

      ul {
        margin-bottom: 0;

        li:first-of-type {
          margin-right: 24px;
        }
      }

      li {
        .text-parameter(17px, 30px, 400);
      }
    }

    &__table-row-2 {
      li:last-child {
        width: 200px;

        margin-right: 59px;
      }
    }

    &__map {
      width: 100%;

      margin-top: 56px;
    }

    &__map svg {
      right: 355px;
    }

    &__map-image {
      width: 768px;
      height: 457px;
    }

    &__map-btn {
      width: 230px;
      margin: 0 auto;
      margin-top: 52px;
    }

    // зиг-заг

    &::before {
      height: 17px;
      top: 70px;

      background-size: auto 15px;
    }
  }
}

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    width: 1050px;

    padding: 0;

    h2 {
      .text-parameter(53px, 57px, 700);
      margin-top: 216px;
      margin-left: 170px;
    }

    &__table  {
      flex-direction: column;
      width: 668px;

      margin-top: 5px;
      margin-left: 174px;

      ul {
        margin-bottom: 28px;
      }

      li {
        .text-parameter(17px, 30px, 400);
      }
    }

    &__table-row-2 {
      li:last-child {
        width: 200px;

        margin-right: 59px;
      }
    }

    &__map-image {
      position: absolute;
      right: -51px;
      bottom: -76px;
      width: 525px;
      height: 457px;
      z-index: 200;
    }

    &__map svg {
      position: absolute;
      top: -218px;
      right: 172px;
      z-index: 400;
    }

    &__flag {
      top: 208px;
      left: 62px;
    }

    &__map {
      margin-right: 50px;
    }

    &__map-btn {
      margin-left: 175px;
      margin-top: 24px;
    }

    // зиг-заг

    &::before {
      height: 25px;
      top: 53px;

      background-size: auto 22px;
    }
  }
}
