.contacts {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 0 30px;

  h2 {
    margin-top: 86px;
    .text-parameter(18px, 30px, 700);
  }

  &__table {
    display: flex;
    flex-direction: column;
    width: 260px;

    margin-top: 11px;

    ul {
      .list-style-none();
      display: flex;
      flex-direction: row;

      margin-bottom: 29px;

      li:first-of-type {
        margin-right: 30px;
      }
    }

    ul:last-child {
      margin-bottom: 0;
    }

    li {
      .text-parameter(15px, 30px, 400, #444);
    }
  }

  &__table-row-2 {
    li:last-child {
      width: 150px;
    }
  }

  &__mail {
    border-bottom: 1px solid @header-top-link-1-color;
  }

  &__map {
    position: relative;
    margin-left: -30px;
    margin-top: 37px;
  }

  &__map-image {
    width: 320px;
    height: 457px;
  }

  &__map svg {
    position: absolute;
    top: 50%-1px;
    left: 50%-3px;
    transform: translateX(-60%) translateY(-60%);
    fill: @header-top-link-1-color;
  }

  &__map-btn {
    margin-top: 36px;

    .text-parameter(18px, 20px, 700, #444);
  }

  &__flag--none {
    display: none;
  }
}

@media (min-width: 768px) {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;

    h2 {
      width: 60%;

      margin-top: 146px;
      margin-left: -3px;

      .text-parameter(43px, 50px, 700);
    }

    &__flag--none {
      display: block;
    }

    &__flag {
      position: absolute;
      right: 153px;
      top: 132px;
    }

    &__table  {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 668px;

      margin-top: 13px;

      ul {
        margin-bottom: 0;

        li:first-of-type {
          margin-right: 24px;
        }
      }

      li {
        .text-parameter(17px, 30px, 400);
      }
    }

    &__table-row-2 {
      li:last-child {
        width: 200px;

        margin-right: 59px;
      }
    }

    &__map {
      width: 100%;

      margin-top: 56px;
      margin-left: -50px;
    }

    &__map-image {
      width: 768px;
      height: 457px;
    }

    &__map-btn {
      width: 230px;
      margin-left: 219px;
      margin-top: 52px;
    }
  }
}

@media (min-width: 1250px) {
  .contacts {
    position: relative;
    width: 875px;

    margin-left: 274px;
    padding: 0;

    h2 {
      .text-parameter(53px, 57px, 700);
      margin-top: 216px;
      margin-left: -4px;
    }

    &__table  {
      flex-direction: column;
      width: 668px;

      margin-top: 5px;

      ul {
        margin-bottom: 28px;
      }

      li {
        .text-parameter(17px, 30px, 400);
      }
    }

    &__table-row-2 {
      li:last-child {
        width: 200px;

        margin-right: 59px;
      }
    }

    &__map-image {
      position: absolute;
      right: -51px;
      bottom: -76px;
      width: 525px;
      height: 457px;
    }

    &__flag {
      top: 208px;
      left: -111px;
    }

    &__map-btn {
      margin-left: 1px;
      margin-top: 24px;
    }
  }
}
