.footer {
  display: flex;
  flex-direction: column;

  margin-top: 39px;

  background-color: #f1f1f1;

  &__social {
    .list-style-none();
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80px;
  }

  &__social li {
    margin-right: 40px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__promo {
    margin-right: 30px;

    .text-parameter(19px, 18px, 700);
  }

  &__copyrights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;

    margin: 0 auto;
    min-height: 70px;

    border-top: 1px solid #e5e5e5;

    svg {
      margin-top: 10px;
    }
  }

  &__logo {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 28px 0px;
    margin-top: 57px;

    &__logo {
      display: block;
      margin-left: 50px;
    }

    &__social {
      margin-left: 160px;
      margin-top: 6px;
    }

    &__copyrights {
      width: auto;

      margin-right: 50px;

      border: none;
    }
  }
}

@media (min-width: 1150px) {
  .footer {
    padding: 27px 50px;
    margin-top: 105px;

    &__social {
      margin-left: 350px;
    }
  }
}
