.header-top-form {
  background-color: #f1f1f1;

  &__title {
    margin-bottom: 76px;
  }
}

.main-form {
  display: flex;
  flex-direction: column;

  p {
    margin-top: 22px;
    padding: 0 30px;

    .text-parameter(13px, 24px, 400, #444);
  }
}

.order-form {
  padding: 0 30px;

  ul {
    .list-style-none();
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  input[type="radio"] + label::before,
  input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    left: -62px;
    top: -8px;

    border: 2px solid #444;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -50px -50px;
  }

  input[type="checkbox"] + label::before {
    left: -63px;
    top: -10px;

    width: 36px;
    height: 35px;
  }

  input[type="radio"] + label::before {
    width: 35px;
    height: 35px;

    border-radius: 50%;
  }

  input[type="radio"]:checked + label::before {
    background-position: -10px -10px;
  }

  input[type="checkbox"]:checked + label::before {
    background-position: -13px -66px;
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 195px;

    margin-top: 23px;

    .text-parameter(17px, 18px, 700);
    cursor: pointer;
  }

  input[type="checkbox"] + label {
    margin-bottom: 20px;
  }

  &__section-type ul,
  &__section-color ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__section-type,
  &__section-color,
  &__section-name,
  &__section-contacts,
  &__section-mail,
  &__section-text {
    padding: 0;
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 35px;

    border: none;
    border-top: 1px solid @header-top-link-1-color;
  }

  legend {
    padding-right: 20px;

    text-transform: uppercase;
    .text-parameter(17px, 16px, 700, @header-top-link-1-color);
  }

  input[type="text"],
  input[type="e-mail"],
  input[type="tel"] {
    display: block;
    border: none;
  }

  &__section-name {
    margin-top: -12px;
    padding-top: 7px;
  }

  &__section-name label {
    margin-bottom: 16px;
    margin-top: 22px;
  }

  &__section-name li {
    padding-bottom: 14px;
  }

  &__section-contacts {
    margin-top: -4px;
    padding-top: 23px;
  }

  &__section-contacts li {
    padding-bottom: 14px;
  }

  &__section-mail {
    margin-top: -3px;
    padding-top: 23px;
  }

  &__section-mail li {
    padding-bottom: 14px;
  }

  &__section-text {
    margin-top: -3px;
    padding-top: 25px;
    padding-bottom: 0;
  }

  &__section-name li,
  &__section-contacts li,
  &__section-mail li {
    border-bottom: 2px solid #000;

    label {
      display: block;

      .text-parameter(17px, 18px, 700,);
    }
  }

  &__section-contacts li,
  &__section-mail li {
    position: relative;

    svg {
      position: absolute;
      right: 2px;
      bottom: 7px;
    }
  }

  &__section-contacts li {
    svg {
      right: 6px;
      bottom: 14px;
    }
  }

  textarea {
    width: 216px;
    height: 99px;
    margin-left: -2px;
    padding: 20px;

    border: 2px solid #000;
    .text-parameter(17px, 18px, 400, rgba(68, 68, 68, 0.3));
  }

  &__required-text {
    display: block;
    width: 260px;
    margin: 0 auto;
    margin-top: 12px;
    padding: 0;
    .text-parameter(14px, 16px, #444);
  }

  &__btn {
    width: 260px;
    margin-top: 31px;
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .order-form {
    padding: 0 50px;

    &__radio {
      display: flex;
      flex-direction: column;
    }

    &__radio li {
      margin-left: 150px;
    }

    fieldset {
      border: none;
      padding: 0;
      margin-top: 10px;
    }

    &__checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      background-color: #f1f1f1;
    }

    &__checkbox li {
      width: 40%;
    }

    &__full-name {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      li {
        width: 70%;
      }

      label,
      input {
        display: inline-block;
      }
    }

    &__full-contact {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      li {
        width: 80%;
      }
    }

    textarea {
      width: 80%;
      margin-left: 130px;
    }
  }
}
