body {
  min-width: 320px;
}

.container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
  width: 768px;
  }
}

@media (min-width: 1150px) {
  .container {
  width: 1150px;
  }
}

.wrapper-header {
  position: relative;
  width: 100%;

  background-color: #f8f8f8;
}

@media (min-width: 768px) {
  .wrapper-header {

    // волнистая заливка

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 25px;
      width: 100%;
      bottom: -15px;
      left: 0px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 23px;
      background-position: -35px 0;
    }
  }
}

@media (min-width: 1150px) {
  .wrapper-header {

    // волнистая заливка

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 57px;
      width: 100%;
      bottom: -42px;
      left: 0px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 35px;
      background-position: -35px 0;
    }
  }
}

.btn {
  width: 259px;
  padding-top: 14px;
  padding-bottom: 14px;

  border: 2px solid #444;
  background-color: #fff;
  .text-parameter(17px, 20px, 700, #444);
  text-transform: uppercase;
}

.text-none {
  .visually-hidden();
}
