.header-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;

  background-color: @header-top-bg-color;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 60px;

  &__title {
    padding: 0 30px;
    margin-top: 70px;
    margin-bottom: 123px;

    text-align: center;
    .text-parameter(27px, 30px, 700);
  }

  &__links {
    .list-style-none();
  }

  &__a {
    display: block;

    padding: 25px 30px;
    padding-bottom: 29px;

    .text-parameter(19px, 24px, 700, #fff);
    text-decoration: none;
    background-color: @header-top-link-1-color;
  }

  &__a--plays {
    background-color: @header-top-link-2-color;
  }

  &__a--interior,
  &__a--plays {
    position: relative;
  }

  &__links img {
    position: absolute;
    opacity: 0.5;
  }

  &__a--interior img {
    top: 22px;
    right: 36px;
  }

  &__a--plays img {
    top: 20px;
    right: 26px;
  }
}

@media (min-width: 768px) {
  .header-top {

    &__title {
      margin-top: 153px;
      margin-bottom: 373px;
      padding: 0 50px;

      .text-parameter(43px, 50px, 700);
    }

    &__links {
      display: flex;

      padding: 0 50px;
    }

    &__links li {
      flex-basis: 50%;
    }

    &__a {
      padding-left: 36px;
      padding-top: 28px;

      .text-parameter(20px, 30px, 700, #fff);
    }

    &__a--interior img {
      top: 30px;
    }

    &__a--plays img {
      top: 32px;
      right: 34px;
    }
  }
}

@media (min-width: 1250px) {
  .header-top {
    &__links {
      padding: 100px;
      padding-bottom: 0;
    }
  }
}
