// миксин для заголовка h2

.title-h2-style() {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

// миксин для заголовка h3

.title-h3-style() {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

// миксин сброса стилей списка

.list-style-none() {
  list-style: none;
  margin: 0;
  padding: 0;
}

// миксин для таблицы на html5

.table-style() {
  display: table;

  ul{
    display: table-row;
  }

  li {
    display: table-cell;
  }
}

// миксин сброса стилей тега button

.btn-none-style() {
  background: none;
  border: none;
}

// миксин для скрывания элементов

.visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// миксин для псевдоэлементов after

.after-element(@width: 0px, @height: 0px) {
  &::after {
    content: "";
    display: block;
    width: @width;
    height: @height;
  }
}

// миксин для псевдоэлементов before

.before-element(@width: 0px, @height: 0px) {
  &::before {
    content: "";
    display: block;
    width: @width;
    height: @height;
  }
}

// миксин для параметров текста

.text-parameter(@font-size: 16px, @line-height: 16px, @font-weight: 400, @color: #000) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @color;
}

// миксин для кнопок

.btn-style {
  width: 259px;
  height: 52px;
  border: 2px solid #444;
  background-color: #fff;
}
