.nav-top {
  position: relative;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #ececec;
  background-color: #fff;
  text-align: center;

  &__logo {
    padding: 22px 30px;
    padding-bottom: 19px;
  }

  &__menu {
    position: absolute;
    top: 79px;
    width: 100%;
    z-index: 100;

    background-color: #fff;
  }

  &__btn {
    position: absolute;
    right: 26px;
    top: 31px;

    .btn-none-style();
  }

  &__btn--close {
    right: 24px;
    top: 28px;
  }

  &__btn--open {
    display: none;
  }

  &__list {
    .list-style-none();
  }

  &__list a {
    display: block;

    padding-left: 75px;
    padding-top: 26px;
    padding-bottom: 28px;

    border-top: 1px solid #ececec;
    text-align: left;
    text-decoration: none;
    .text-parameter(17px, 24px, 700);
  }

  &__list--2 a {
    position: relative;
  }

  &__list--2 svg {
    position: absolute;

    opacity: 0.2;
  }

  &__search svg {
    left: 32px;
    top: 31px;
  }

  &__cart svg {
    left: 30px;
    top: 30px;
  }

  &__new--none,
  &__sale--none,
  &__delivery--none {
    display: none;
  }

  // для скрипта

  &__menu {
    display: none;
  }

  &__menu--no-js {
    position: static;
  }

  &__btn--open {
    display: block;
  }

  &__btn--close {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-top {
    flex-direction: row;
    padding: 0 30px;

    &__logo--mobile {
      display: none;
    }

    &__logo--tab {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    a {
      border: none;
    }

    &__list--2 {
      .nav-top__cart {
        border-left: 1px solid #ececec;
      }

      .nav-top__search {
        padding-bottom: 52px;
      }
    }

    &__btn {
      display: none;
    }

    &__menu {
      top: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      background-color: transparent;
    }

    &__list {
      display: flex;
    }

    &__list--2 {
      margin-left: auto;
      margin-right: 30px;
    }

    &__list--1 {
      margin-left: -30px;
      width: 80%;
    }

    &__list--1 a {
      .text-parameter(15px, 24px, 700);
      padding: 10px 30px;
      margin-top: 10px;
    }

    &__list--2 a {
      padding: 28px 30px;
      padding-left: 80px;
    }

    &__search span {
      display: none;
    }

    &__list--2 svg {
      left: 25px;
    }

    &__list--2 {
      .nav-top__search svg {
        left: 45px;
      }
    }

    &__list--2 {
      position: relative;
    }

    &__delivery {
      display: block;
      position: absolute;
      top: 100px;
      right: 30px;
      a {
        .text-parameter(15px, 24px, 400, #444);
        padding: 0;
      }
    }
  }
}

@media (min-width: 1250px) {
  .nav-top {
    padding: 0 100px;

    &__logo--tab {
      display: none;
    }

    &__logo {
      margin-top: 0px;
      margin-bottom: -5px;
    }

    &__logo--desktop {
      display: block;
    }

    &__list--2 {
      margin-right: 0px;
    }

    &__menu {
      width: 1050px;
    }

    &__logo {
      margin-left: auto;
      margin-right: auto;
    }

    &__delivery {
      right: -10px;
    }

    &__new--none,
    &__sale--none {
      display: block;
    }

    &__list--1 {
      width: 50%;
      flex-wrap: wrap;

      li:first-child {
        border-right: 1px solid #ececec;
      }

      a {
        .text-parameter(17px, 24px, 700);
        padding-top: 20px;
        padding-bottom: 25px;
      }
    }
  }
}
