.nav-top {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  text-align: center;

  &__menu {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }

  &__logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__btn {
    position: absolute;
    right: 30px;
    top: 30px;
    .btn-none-style();
  }

  &__list {
    .list-style-none();
  }

  a {
    display: block;
    padding: 30px;
    border-top: 1px solid #ececec;
    text-decoration: none;
    .text-parameter(17px, 24px, 700);
  }

  &__list--2 a {
    position: relative;
  }

  &__list--2 svg {
    position: absolute;
    left: 30px;
    opacity: 0.2;
  }
}

@media (min-width: 768px) {
  .nav-top {
    flex-direction: row;
    padding: 0 30px;

    a {
      border: none;
    }

    &__btn {
      display: none;
    }

    &__menu {
      top: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      background-color: transparent;
    }

    &__list {
      display: flex;
    }

    &__list li {

    }

    &__list--2 {
      margin-left: auto;
      margin-right: 30px;
    }

    &__list--1 {
      margin-left: -30px;
      width: 80%;
    }

    &__list--1 a {
      .text-parameter(15px, 24px, 700);
      padding: 20px 30px;
    }

    &__list--2 a {
      padding: 28px 30px;
    }

    &__search span {
      display: none;
    }

    &__list--2 svg {
    left: -20px;
    }
  }
}
