.nav-top {
  position: relative;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #ececec;
  background-color: #fff;
  text-align: center;

  &__logo {
    padding: 22px 30px;
    padding-bottom: 19px;

    a:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    a:active {
      opacity: 0.3;
    }
  }

  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 79px;
    z-index: 100;

    background-color: #fff;
  }

  &__btn {
    position: absolute;
    right: 26px;
    top: 31px;

    .btn-none-style();
  }

  &__btn-close {
    right: 24px;
    top: 28px;
  }

  &__list {
    .list-style-none();
  }

  &__list a {
    display: block;

    padding-left: 75px;
    padding-top: 26px;
    padding-bottom: 28px;

    border-top: 1px solid #ececec;
    text-align: left;
    text-decoration: none;
    .text-parameter(17px, 24px, 700);

    &:hover {
      color: rgba(0, 0, 0, 0.6)
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    &:hover svg {
      fill: #62d1ba;
      opacity: 1;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  &__list--2 a {
    position: relative;
  }

  &__list--2 svg {
    position: absolute;

    opacity: 0.2;
  }

  &__search svg {
    left: 32px;
    top: 31px;
  }

  &__cart svg {
    left: 30px;
    top: 30px;
  }

  &__new--none,
  &__sale--none,
  &__delivery--none {
    display: none;
  }

  // для скрипта

  &__menu--hidden {
    display: none;
  }

  &__btn--hidden {
    display: none;
  }

  &__menu--no-js {
    position: static;
    display: flex;
  }
}

@media (min-width: 768px) {
  .nav-top {
    flex-direction: row;

    &__logo {
      padding: 22px 30px;
      padding-bottom: 17px;
      padding-left: 48px;

      img {
        width: 113px;
      }
    }

    &__btn {
      display: none;
    }

    &__menu {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;

      background-color: transparent;
    }

    a {
      border: none;
    }

    &__list {
      display: flex;
    }

    &__list--2 {
      position: relative;
      margin-left: auto;
      padding-right: 50px;

      .nav-top__cart {
        padding-top: 30px;
        padding-bottom: 34px;
        padding-left: 82px;
        padding-right: 0;

        text-align: right;
        border-left: 1px solid #ececec;

        svg {
          top: 34px;
        }
      }

      .nav-top__search {
        padding-top: 30px;
        padding-bottom: 58px;
        padding-left: 82px;
        padding-right: 0;

        border-left: 1px solid #ececec;

        svg {
          top: 37px;
        }
      }
    }

    &__list--1 {
      margin-left: 50px;
      margin-top: 18px;
      width: 60%;
    }

    &__list--1 a {
      padding: 0;
      padding-right: 35px;

      .text-parameter(15px, 24px, 700);
    }

    &__search span {
      display: none;
    }

    &__delivery {
      display: block;
      position: absolute;
      top: 106px;
      right: 50px;

      a {
        padding: 0;

        .text-parameter(15px, 24px, 400, #444);
      }
    }
  }
}

@media (min-width: 1150px) {
  .nav-top {
    padding: 0 50px;

    &__logo {
      padding: 0;
      padding-top: 9px;
      padding-bottom: 3px;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 149px;
      }
    }

    &__menu {
      width: 1050px;
    }

    &__new--none,
    &__sale--none {
      display: block;
    }

    &__list--1 {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 404px;

      padding: 0;
      margin: 0;

      li {
        flex-basis: 185px;
      }

      a {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 34px;

        .text-parameter(17px, 24px, 700);
      }
    }

    &__catalog {
      border-right: 1px solid #ececec;
    }

    &__list--2 {
      padding: 0;
    }

    &__delivery {
      right: 0px;
    }

    &__new a,
    &__sale a {
      padding: 0;
      margin: 0;
      margin-top: 18px;

      .text-parameter(15px, 24px, 700);
    }
  }
}
