.main-top {
  display: flex;
  flex-direction: column;
}

.order-product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0 30px;

  &__img-tab--none,
  &__img-desktop--none {
    display: none;
  }

  h2 {
    .text-parameter(25px, 30px, 700);
  }

  &__week-product {
    .text-parameter(17px, 20px, 700, @header-top-link-1-color);
    text-transform: uppercase;
    margin-top: -15px;
  }

  &__table {
    width: 100%;
    .table-style();
    margin-bottom: 30px;
    .text-parameter(15px, 24px, 400, #444);

    p {
      display: table-caption;
      .text-parameter(15px, 24px, 400, #444);
    }
  }

  &__table li {
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
  }

  &__price {
    text-align: center;
    padding: 20px 0;
    .text-parameter(17px, 24px, 700);
  }
}

@media (min-width: 768px) {
  .order-product {
    position: relative;
    padding: 0 50px;

    &__img-mobile--none {
      display: none;
    }

    &__img-tab--none {
      display: block;
    }

    h2 {
      .text-parameter(43px, 50px, 700);
    }

    &__week-product {
      position: absolute;
      display: block;
      top: 65px;
      right: 70px;
      width: 70px;
      text-align: center;
      .text-parameter(17px, 17px, 700, @header-top-link-1-color);
    }

    &__table {
      width: 290px;
    }

    img {
      position: absolute;
      top: 150px;
      right: 50px;
    }

    &__btn {
      width: 290px;
    }

    &__price {
      width: 290px;
      margin-top: 50px;
    }
  }
}

@media (min-width: 1250px) {
  .order-product {
    padding-left: 275px;
    margin-top: 100px;

    &__img-tab {
      display: none;
    }

    &__img-desktop {
      display: block;
    }

    h2 {
      .text-parameter(53px, 57px, 700);
    }

    img {
      right: 100px;
      top: 0px;
      z-index: -1;
    }

    &__week-product {
      position: absolute;
      left: 120px;
    }

    &__price {
      margin-top: 110px;
    }
  }
}
