.main-top {
  display: flex;
  flex-direction: column;
}

.order-product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;

  padding: 0 30px;
  padding-top: 7px;

  h2 {
    .text-parameter(25px, 30px, 700);
  }

  &__week-product {
    margin-top: -17px;

    .text-parameter(17px, 20px, 700, @header-top-link-1-color);
    text-transform: uppercase;
  }

  &__table {
    width: 100%;
    margin-top: 9px;
    .table-style();

    .text-parameter(15px, 24px, 400, #444);

    p {
      display: table-caption;

      margin-bottom: 18px;

      .text-parameter(15px, 24px, 400, #444);
    }
  }

  &__table li {
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 14px;

    border-bottom: 1px solid #ececec;

    &:last-child {
      padding-right: 0;
    }
  }

  &__image {
    margin-top: 28px;
    width: 260px;
    height: 315px;
  }

  &__price {
    margin-top: 21px;

    text-align: center;
    .text-parameter(17px, 24px, 700);
  }

  &__btn {
    margin-top: 26px;
  }
}

@media (min-width: 768px) {
  .order-product {
    padding: 0 50px;

    h2 {
      margin-top: 47px;
      margin-left: 0px;

      .text-parameter(43px, 50px, 700);
    }

    &__week-product {
      position: absolute;
      display: block;
      top: 75px;
      right: 79px;
      width: 70px;

      text-align: center;
      .text-parameter(17px, 17px, 700, @header-top-link-1-color);
    }

    &__table {
      width: 290px;

      margin-top: -4px;

      p {
        margin-bottom: 36px;

        .text-parameter(17px, 30px, 400, #444);
      }
    }

    &__table li {
      padding-right: 0px;
    }

    &__image {
      position: absolute;
      top: 126px;
      right: 50px;
      width: 333px;
      height: 404px;
    }


    &__price {
      width: 290px;

      margin-top: 50px;
      margin-top: 56px;

      .text-parameter(20px, 24px, 700, #444);
    }

    &__btn {
      width: 291px;

      margin-top: 34px;
    }
  }
}

@media (min-width: 1150px) {
  .order-product {
    padding: 0 50px;
    padding-left: 220px;

    h2 {
      margin-top: 126px;

      .text-parameter(53px, 57px, 700);
    }

    &__week-product {
      left: 96px;
      top: 158px;
    }

    &__table {
      margin-top: -12px;
      margin-left: 4px;

      p {
        margin-bottom: 50px;

        .text-parameter(17px, 30px, 400, #444);
      }
    }

    &__image {
      right: 50px;
      top: 46px;
      z-index: -1;
      width: 525px;
      height: 636px;
    }

    &__price {
      margin-top: 108px;
      margin-left: 5px;
    }

    &__btn {
      margin-left: 5px;
    }
  }
}
