.order-modal {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -30px;
  left: 0;
  width: 260px;
  z-index: 200;

  padding: 30px;
  padding-bottom: 46px;

  background-color: #fff;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);

  &__caption {
    width: 150px;

    .text-parameter(25px, 30px, 700);
    text-transform: uppercase;
  }

  p {
    margin-top: 12px;

    .text-parameter(15px, 30px, 400, #444444);
  }

  ul {
    .list-style-none();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__size-btn {
    width: 82px;

    padding: 16px;
    margin-top: 8px;

    background: none;
    border: 2px solid #ececec;
    .text-parameter(17px, 16px, 700, #444);

    &:hover {
      border-color: #c7c7c7;
      cursor: pointer;
    }

    &:active,
    &:focus {
      border-color: @header-top-link-1-color;
      outline-color: @header-top-link-1-color;
      outline-style: none;
    }
  }

  &__btn {
    margin-top: 31px;
    padding-top: 18px;

    border: none;
    background-color: @header-top-link-1-color;
    color: #fff;
  }

  // для скрипта

  &--show {
    display: flex;
  }
}

@media (min-width: 768px) {
  .order-modal {
    align-items: center;
    bottom: -478px;
    left: 100px;
    width: 566px;
    padding-top: 50px;
    padding-bottom: 45px;

    background-color: #fff;
    box-sizing: border-box;

    &__caption {
      width: 354px;

      .text-parameter(30px, 57px, 700);
      text-transform: uppercase;
    }

    p {
      .text-parameter(17px, 30px, 400, #444)
    }

    ul {
      width: 350px;
    }

    &__size-btn {
      width: 112px;
    }

    &__btn {
      width: 350px;
    }
  }
}

@media (min-width: 1150px) {
  .order-modal {
    left: 292px;
    top: 280px;
    bottom: 0;
  }
}
