// фоновый цвет в шапке
@header-top-bg-color: #fafafa;

// фоновый цвет ссылок в шапке
@header-top-links-color: #63d1bb;

// палитра ссылок в шапке
@header-top-link-1-color: spin(@header-top-links-color, 0);

// палитра ссылок в шапке
@header-top-link-2-color: darken(@header-top-links-color, 10%);
