.header-top {
  min-height: 570px;
  background-color: @header-top-bg-color;
  background-image: url(../../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: -140px 70px;

  &__title {
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
  }

  &__links {
    .list-style-none();
  }

  &__a {
    display: block;
    min-height: 100px;
    text-decoration: none;
    background-color: @header-top-link-1-color;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700px;
    line-height: 24px;
  }

  &__a--color {
    background-color: @header-top-link-2-color;
  }

  &__a::after {
    width: 20px;
    height: 20px;
    background-image: url("../../img/icon-interior.svg");
    background-repeat: no-repeat;
  }

  &__a--color::after {
    content: "";
    display: block;
    width: 61px;
    height: 61px;
    background-image: url("../../img/icon-toy.svg");
    background-repeat: no-repeat;
  }
}


