@nav-top-height: 80px;
@border: 2px solid #ececec;
@nav-top-bg-color: #ffffff;

.nav-top__list {
  display: none;
}

.nav-top {
  min-height: @nav-top-height;
  border-bottom: @border;
  background-color: @nav-top-bg-color;

  &__btn {
    background: none;
    border: none;
  }

  &__list {
  list-style: none;
  margin: 0;
  padding: 0;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
  }

  li {
    min-height: @nav-top-height;
    border-top: @border;
  }
}
